/**
 * @file
 * This file contains theming for the footer.
 */

#section-footer {
  background-color: #002D5B;
  border-top: 7px solid #006FBA;
  color: #FFF;
  font-size: small;
  padding: 2em;
}

#section-footer a {
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

#section-footer a.no-link {
  border: none;
}

#section-footer a:hover,
#section-footer a:focus {
  background-color: transparent;
}

#section-fatfooter {
  border-top: 7px solid #002D5B;
  padding: 2em;
}

#section-fatfooter .region-fatfooter .block {
  line-height: inherit;
  margin: 0;
  min-height: 0;
  padding: 0.5em;
  text-align: center;
}

#block-hfcc-global-hfcc-global-quick-links h2,
#block-hfcc-global-hfcc-global-program-links h2,
#block-hfcc-global-hfcc-global-services-links h2,
#block-hfcc-global-hfcc-global-life-links h2{
  text-align: left;
}

#section-footer .region-footer .block {
  line-height: inherit;
  margin: 0;
  padding: 1em;
}

#block-hfcc-global-hfcc-global-college-logo a {
  border: none;
}

#block-hfcc-global-hfcc-global-college-logo .futuredriven-logo {
  width: 140px;
}

/* Social Icons */

#section-footer .fatbutton-links {
  max-width: 200px;
  text-align: center;
}

#section-footer .fatbutton-links a {
  background-image: url(../images/socialbuttons/social-icons.png);
  background-repeat: no-repeat;
  border-bottom: none;
  display: block;
  height: 0;
  margin: 5px;
  overflow: hidden;
  padding: 50px 0 0;
  width: 50px;
}

#block-hfcc-global-hfcc-global-fatbutton-links li.leaf {
  display: inline-block;
}

#section-footer .fatbutton-links a:hover,
#section-footer .fatbutton-links a:focus {
  background-color: transparent;
}

#section-footer .fatbutton-links a.button-alert {
  background-position: top left;
}

#section-footer .fatbutton-links a.button-fb {
  background-position: top center;
}

#section-footer .fatbutton-links a.button-tw {
  background-position: top right;
}

#section-footer .fatbutton-links a.button-li {
  background-position: bottom left;
}

#section-footer .fatbutton-links a.button-rss {
  background-position: bottom center;
}

#section-footer .fatbutton-links a.button-yt {
  background-position: bottom right;
}

@media only screen and (min-width: 450px) {

  #section-footer .region-footer {
    max-width: 600px;
    text-align: left;
  }

}

@media only screen and (min-width: 480px) {

  #block-hfcc-global-hfcc-global-quick-links ul li,
  #block-hfcc-global-hfcc-global-program-links ul li,
  #block-hfcc-global-hfcc-global-services-links ul li,
  #block-hfcc-global-hfcc-global-life-links ul li {
    display: inline;
    padding-right: 5px;
  }

  #section-fatfooter .region-fatfooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
  }

  #section-footer .region-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
  }

  #section-footer .region-footer .block {
    -webkit-box-flex: 1 0 50%;
    -moz-box-flex:  1 0 50%;
    -webkit-flex:  1 0 50%;
    -ms-flex:  1 0 50%;
    flex: 1 0 50%;
    min-height: 0;
  }

}

@media only screen and (min-width: 770px) {

  #section-fatfooter .region-fatfooter .block,
  #section-footer .region-footer .block {
    -webkit-box-flex: 0 1 25%;
    -moz-box-flex:  0 1 25%;
    -webkit-flex:  0 1 25%;
    -ms-flex:  0 1 25%;
    flex: 0 1 25%;
    padding: 0;
  }

  #block-hfcc-global-hfcc-global-quick-links ul li,
  #block-hfcc-global-hfcc-global-program-links ul li,
  #block-hfcc-global-hfcc-global-services-links ul li,
  #block-hfcc-global-hfcc-global-life-links ul li {
    display: block;
    padding-right: 0;
  }

}

@media only screen and (min-width: 978px) {

  #section-footer .region-footer {
    max-width: 1100px;
    text-align: left;
  }

}
