/**
 * @file
 * Page header styling.
 */

.site-logo {
  background-color: #F7F7F7;
  border-bottom: 7px solid #ccc;
  width: 100%;
  display: block;
}

.site-logo a {
  background-color: #F7F7F7;
  background-image: url(../images/hfc-futuredriven-color.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
}

.site-logo a:hover,
.site-logo a:focus {
  background-color: #F7F7F7;
}

a.hfcc-home {
  display: block;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}

#name-and-slogan {
  text-align: center;
  background-color: #F7F7F7;
}

h1#site-name {
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  font-size: 1.953em; /* 27.344px */
  line-height: 1.5360em;
  margin: 0;
}

#site-name a {
  border-bottom: none;
  color: #222;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  background-color: transparent;
}

#main-navigation .region-navigation,
#main-menu {
  background-color: #F7F7F7;
}

#billboard {
  position: relative;
}

#billboard #header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 7px solid #002D5B;
  height: 25vw;
  max-height: 350px;
  min-height: 150px;
  overflow: hidden;
  position: relative;
}

.page-title {
  color: #fff;
  position: absolute;
    bottom: 0;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  width: 100%;
}

.page-title h1 {
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 0 1em;
}

.page-node #page-title,
.node-type-landing-page #page-title,
.node-type-page #page-title,
.node-type-program #page-title {
  display: none;
}

.no-billboard #page-title {
  display: block;
}

#billboard .billboard-caption {
  position: absolute;
    bottom: 1em;
    left: 1em;
}

#billboard .billboard-caption span {
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  margin: 0 0 0.25em 0;
  padding: 0.5em 1em;
}

@media only screen and (min-width: 900px) {

  .site-logo a.hfcc-home {
    border-bottom: 7px solid #ccc;
    height: 20vw;
    max-width: 250px;
    max-height: 250px;
    min-height: 125px;
    min-width: 125px;
    position: absolute;
    top: 0;
    width: 20vw;
    z-index: 10;
  }

  .no-billboard .site-logo a.hfcc-home {
    border: none;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: static;
    width: 100%;
    z-index: 1;
  }

}

@media only screen and (min-width: 680px) {

  #name-and-slogan {
    text-align: right;
    padding: 0 1em 0 0;
  }

  #name-and-slogan h1 {
    text-align: right;
  }

}

@media only screen and (min-width: 640px) {

  h1#site-name {
    font-size: 2.441em; /* 34.18px */
    line-height: 1.2288em;
  }

}

@media only screen and (min-width: 900px) {

  #billboard {
    min-height: 171px;
  }

  .no-billboard #billboard {
    min-height: 0;
  }

}

@media only screen and (min-width: 1100px) {

  #billboard .billboard-caption {
    font-size: 1.2em;
  }

}
