/**
 * @file
 * This file defines the page layout structure.
 */

#section-header,
#section-billboard,
#section-main,
#section-fatfooter,
#section-footer {
  clear: both;
  float: none;
  position: relative;
}

#section-main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

#section-main-navigation .site-logo {
  width: 100%;
}

#section-main-navigation #main-navigation {
  width: 100%
}

#main-inner {
  width: 100%;
}

#content-inner {
  padding: 1.5em 0.25em;
  margin: 0 auto;
  max-width: 1400px;
}

.node-type-landing-page #content-inner,
.node-type-basic-page #content-inner {
  padding: 1.5em 0.25em;
  margin: 0 auto;
  max-width: 800px;
}

@media only screen and (min-width: 620px) {

  #section-main-navigation .site-logo {
    -webkit-box-flex: 1 1 20%;
    -moz-box-flex:  1 1 20%;
    -webkit-flex:  1 1 20%;
    -ms-flex:  1 1 20%;
    flex: 1 1 20%;
    width: auto;
  }

  #section-main-navigation #main-navigation {
    -webkit-box-flex: 1 1 80%;
    -moz-box-flex:  1 1 80%;
    -webkit-flex:  1 1 80%;
    -ms-flex:  1 1 80%;
    flex: 1 1 80%;
    width: auto;
  }

}

@media only screen and (min-width: 770px) {

  #breadcrumb {
    margin: 1em auto;
    max-width: 1100px;
  }

  #section-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
  }

  #sidebar-first {
    order: -1;
  }

  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 33%;
  }

  .one-sidebar.sidebar-first #main-inner,
  .one-sidebar.sidebar-second #main-inner {
    width: 66%;
  }

  .two-sidebars #main-inner {
    width: 50%;
  }

  .two-sidebars #sidebar-first,
  .two-sidebars #sidebar-second {
    width: 25%;
  }

}
