/**
 * @file
 * This file holds all content patterns and most styles found in section-main.
 */

/* Highlight Styles */

.highlight-grid .view-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: auto;
  position: relative;
  width: 100%;
}

.highlight-item {
  background-color: #DFDEDE;
  color: #262729;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 0;
  min-height: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  width: 100%;
}

.highlight-wrap {
  padding: 10% 5%;
}

.highlight-link a {
  color: transparent;
  font-size: 0;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  width: 100%;
  z-index: 10;
}

.highlight-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.25em;
  margin: 0;
  text-transform: uppercase;
}

.highlight-caption {
  border-top: 1px solid rgba(255,255,255,0.2);
  line-height: 1.25em;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  width: 100%;
}

.highlight-caption ul:last-child,
.highlight-caption ol:last-child,
.highlight-caption p:last-child {
  margin-bottom: 0;
}

.hfc-overlay {
  background-color: rgba(0,0,0,0);
  color: #FFF;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.hfc-overlay .highlight-title {
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.highlight-image img {
  width: 100%;
}

.highlight-item .edit-link {
  position: absolute;
    bottom: 0;
    right: 0;
  z-index: 10; /* fix to allow clicking with highlight-link */
}

.link {
  position: relative;
}

.link:hover .hfc-overlay {
  background-color: rgba(0,0,0,0.25);
}

/* Highlight Item Colors */

.highlight-grid .highlight-item.gray {
  background-color: #262729;
  color: #FFF;
}

.highlight-grid .highlight-item.light-gray {
  background-color: #DEDEDE;
  color: #262729;
}

.highlight-grid .highlight-item.color {
  background-color: #002D5B;
  color: #FFF;
}

.highlight-grid .highlight-item.light-color {
  background-color: #006FBA;
  color: #FFF;
}

/* Higlight Item Hover */

.highlight-grid .highlight-item.link.gray:hover {
  background-color: #1C1D1E;
}

.highlight-grid .highlight-item.link.light-gray:hover {
  background-color: #C4C4C4;
}

.highlight-grid .highlight-item.link.color:hover {
  background-color: #002449;
}

.highlight-grid .highlight-item.link.light-color:hover {
  background-color: #005B99;
}

.highlight-grid .highlight-item.link:hover .hfc-overlay {
  background-color: rgba(0,0,0,0.25);
}

/* Interest Cards */

ul li.interest-card {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-items: stretch;
  align-items: stretch;
}

ul li.interest-card .grid-item-wrapper {
  flex: 1 1 auto;
}

.blue.interest-card .grid-item-wrapper {
  background-color: #0054A6;
  color: #fff;
}

.blue.interest-card .underline-header {
  border-bottom: none;
}

.blue.interest-card .underline-header:after {
  background-color: #002D5B;
}

.blue a,
.blue a:visited {
  border-color: #fff;
  color: #fff;
}

.blue a:hover,
.blue a:focus {
  color: #262729;
}

.interest-card .grid-item-wrapper {
  background-color: #FEFEFE;
  color: #262729;
  padding: 1em;
}

.interest-card:nth-child(1) .grid-item-wrapper {
  border-bottom: 7px solid #006FBA;
}

.interest-card:nth-child(2) .grid-item-wrapper {
  border-bottom: 7px solid #002D5B;
}

.interest-card:nth-child(3) .grid-item-wrapper {
  border-bottom: 7px solid #777779;
}

.interest-card:nth-child(4) .grid-item-wrapper {
  border-bottom: 7px solid #002D5B;
}

.interest-card:nth-child(5) .grid-item-wrapper {
  border-bottom: 7px solid #ccc;
}

.interest-card:nth-child(6) .grid-item-wrapper {
  border-bottom: 7px solid #777779;
}

/* Icon Set */

.hfc-icon {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  min-width: 40px;
  padding-top: 40px;
}

.hfc-icon-apply {
  background-image: url('../images/hfc-theme-icons/apply.svg');
}
.hfc-icon-athletics {
  background-image: url('../images/hfc-theme-icons/athletics.svg');
}

.hfc-icon-campus-tour {
  background-image: url('../images/hfc-theme-icons/campus-tour.svg');
}

.hfc-icon-clubs {
  background-image: url('../images/hfc-theme-icons/clubs1.svg');
}

.hfc-icon-clubs2 {
  background-image: url('../images/hfc-theme-icons/clubs2.svg');
}

.hfc-icon-contact {
  background-image: url('../images/hfc-theme-icons/contact.svg');
}

.hfc-icon-donate {
  background-image: url('../images/hfc-theme-icons/donate.svg');
}

.hfc-icon-events-calendar {
  background-image: url('../images/hfc-theme-icons/events-calendar.svg');
}

.hfc-icon-financial-aid {
  background-image: url('../images/hfc-theme-icons/financial-aid.svg');
}

.hfc-icon-news {
  background-image: url('../images/hfc-theme-icons/news.svg');
}

.hfc-icon-online-learning {
  background-image: url('../images/hfc-theme-icons/online-learning.svg');
}

.hfc-icon-programs {
  background-image: url('../images/hfc-theme-icons/programs.svg');
}

.hfc-icon-request-info {
  background-image: url('../images/hfc-theme-icons/request-info.svg');
}

.hfc-icon-scholarships {
  background-image: url('../images/hfc-theme-icons/scholarships.svg');
}

.hfc-icon-study-abroad {
  background-image: url('../images/hfc-theme-icons/study-abroad.svg');
}

.hfc-icon-transfer {
  background-image: url('../images/hfc-theme-icons/transfer.svg');
}

/* Highlight Header */

.highlight-header.blue,
.highlight-banner.blue{
  background-color: #0054A6;
  color: #fff;
}

.highlight-header.gray,
.highlight-banner.gray {
  background-color: #DFDEDE;
}

.highlight-header > div {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 1em;
}

.highlight-header h2 {
  margin: 2rem 0;
}

.highlight-header h2:before {
  background-color: #262729;
  content: "";
  display: block;
  height: 7px;
  margin: 1rem 0;
  width: 100px;
}

.highlight-header.blue h2:before {
  background-color: #fff;
}

/* Other Headers */

.highlight-banner div {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 1em;
  text-align: center;
}

.underline-header {
  border-bottom: 1px solid #ccc;
}

.underline-header:after {
  background-color: #0054A6;
  content: "";
  display: block;
  height: 7px;
  margin: 1rem 0 0 0;
  padding: 0;
  width: 70px;
}

/* Topic List */

.topic-list {
  margin: 0 0 1.5em 0;
}

.topic-list .topic-title h3,
.topic-list .topic-title h4, {
  margin: 0 0 1em 0;
}

.topic-title {
  position: relative;
}

.topic-info ul {
  list-style-type: initial;
}

.topic-item {
  border-top: 1px solid #ccc;
  display: block;
  padding: 1.5em 0;
}

.topic-item:last-child,
.topic-item.views-row-last {
  border-bottom: 1px solid #ccc;
}

/* Gallery */

.gallery-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.gallery-item {
  -webkit-box-flex: 1 0 200px;
  -moz-box-flex:  1 0 200px;
  -webkit-flex:  1 0 200px;
  -ms-flex:  1 0 200px;
  flex: 1 0 200px;
  min-width: 0;  /*hack for firefox 3747 */
  padding: 0 0.5em 1.5em 0.5em;
}

/* Fake Titles */

.blue-title {
  color: #002D5B;
}

.sm-title {
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.lg-title {
  display: block;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {

  .highlight-item {
    -moz-box-flex: 0 1 50%;         /* OLD - Firefox 19- */
    -ms-flex: 0 1 50%;              /* IE 10 */
    -webkit-box-flex: 0 1 50%;      /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 50%;          /* Chrome */
    flex: 0 1 50%;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .lg-title {
    font-size: 4em;
  }

}

@media only screen and (min-width: 770px) {

  .highlight-item {
    -moz-box-flex: 0 1 33.3333%;         /* OLD - Firefox 19- */
    -ms-flex: 0 1 33.3333%;              /* IE 10 */
    -webkit-box-flex: 0 1 33.3333%;      /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 33.3333%;          /* Chrome */
    flex: 0 1 33.3333%;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

}

@media only screen and (min-width: 640px) {

  .topic-info, .topic-title {
    display: inline-block;
    vertical-align: top;
    width: 66%;
  }

 .region-content .field-name-body .topic-info ul {
    margin: 0 0 1.5em 1em;
  }

  .topic-title {
    margin: 0;
    width: 33%;
  }

  .topic-info {
    padding: 0 0 0 2em;
  }

}

@media only screen and (min-width: 948px) {

  .gallery-4 .gallery-item {
    width: 25%;
  }
  .gallery-3 .gallery-item {
    width: 33.3333%;
  }
  .gallery-2 .gallery-item {
    width: 50%;
  }

}
