/**
 * @file
 * Primary menu styling.
 */

/* Normal Menus */

ul.menu {
  margin: 0;
}

ul.menu li {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

ul.menu a {
  border: none;
  font-weight: normal;
}

ul.menu a.active {
  color: #333335;
}

ul.menu a.active:hover {
  text-decoration: none;
}

ul.menu .expanded,
ul.menu .collapsed {
  list-style-image: none;
  list-style-type: none;
}

ul.menu ul.menu {
  margin: 0 0 0 0.75em;
}

ul.menu ul.menu ul.menu {
  margin: 0 0 0 0.75em;
}

ul.menu li ul.menu li.last {
  padding: 0;
}

/* Main Navigation */

ul#main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  margin: auto;
  position: relative;
  text-align: center;
  width: 100%;
}

ul#main-menu li {
  border-bottom: 7px solid transparent;
  border-left: 1px solid #ccc;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex:  1 0 auto;
  -webkit-flex:  1 0 auto;
  -ms-flex:  1 0 auto;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul#main-menu li:nth-child(even) {
  border-bottom: 7px solid #006FBA;
}

ul#main-menu li:nth-child(odd) {
  border-bottom: 7px solid #002D5B;
}

ul#main-menu li:nth-child(1) {
  border-bottom: 7px solid #0054A6;
}

ul#main-menu li:nth-child(4) {
  border-bottom: 7px solid #777779;
}

ul#main-menu li a {
  border-bottom: none;
  color: #262729;
  display: block;
  padding: 1.5em 0.5em;
}

ul#main-menu li a:hover,
ul#main-menu li a:focus {
  background-color: transparent;
}

/* Secondary Navigation */

#section-secondary-navigation {
  background-color: #002D5B;
  border-bottom: 7px solid #006FBA;
  text-align: center;
}

ul#secondary-menu, #section-secondary-navigation .region-header {
  display: inline-block;
  line-height: normal;
  margin: 0;
}

ul#secondary-menu li {
  display: inline-block;
  font-size: small;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

ul#secondary-menu li a {
  border-bottom: none;
  color: #FFF;
  display: block;
  padding: 1em;
}

ul#secondary-menu li:hover,
ul#secondary-menu li:focus {
  background-color: #006FBA;
}

ul#secondary-menu li:focus a,
ul#secondary-menu li:hover a {
  background-color: rgba(0,0,0,0);
}

/* Superfish Styles */

ul#superfish-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  float: none;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

ul.sf-menu li:nth-child(1) {
  padding-left: 6px;
}

.sf-sub-indicator {
  display: none;
}

ul.sf-menu {
  float: left;
  font-size: small;
  line-height: 1.2em;
  margin: 0;
  padding: 0.826em 0;
}

ul.sf-main-menu li.sf-depth-1 {
  border-bottom: 7px solid transparent;
  border-left: 1px solid #ccc;
  display: inline;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex:  1 0 auto;
  -webkit-flex:  1 0 auto;
  -ms-flex:  1 0 auto;
  flex: 1 0 auto;
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.sf-main-menu li.sf-depth-1:nth-child(even) {
 border-bottom: 7px solid #006FBA;
}

ul.sf-main-menu li.sf-depth-1:nth-child(odd) {
 border-bottom: 7px solid #002D5B;
}

ul.sf-main-menu li.sf-depth-1:nth-child(1) {
 border-bottom: 7px solid #0054A6;
}

ul.sf-main-menu li.sf-depth-1:nth-child(4) {
 border-bottom: 7px solid #777779
}

ul.sf-main-menu li a {
  border-bottom: none;
  color: #262729;
  display: block;
  font-weight: bold;
  padding: 1.5em 0.5em;
}

ul.sf-main-menu li a:hover,
ul.sf-main-menu li a:focus {
  background-color: transparent;
}

.sf-megamenu-wrapper {
  border-bottom: none;
}

ul.sf-main-menu a.sf-depth-1 {
  display: inline-block;
}

ul.sf-main-menu li.sf-depth-2 {
  text-align: left;
}

ul.sf-menu li {
  margin: 0;
  padding: 0.87em 0.9em;
}

ul.sf-menu a.sf-depth-2:link,
ul.sf-menu a.sf-depth-2:visited {
  color: #333335;
  padding: 0;
}

.sf-menu.sf-horizontal.sf-shadow ul {
  background: #F7F7F7;
  padding: 0 !important;
  border-radius: 0;
}

.sf-menu.sf-horizontal.sf-shadow ul li {
  margin: 0;
  padding: 0.328em 1.512em;
}

ul.sf-menu ul a:link,
ul.sf-menu ul a:visited {
  font-size: small;
}

ul.sf-menu li.sf-depth-2:hover,
ul.sf-menu li.sf-depth-2:hover > a {
  background: none;
  color: #0054A6;
}

ul.sf-menu a.active,
ul.sf-menu li.active-trail,
ul.sf-menu li.active-trail > a {
  background: none;
  color: #333335;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  top: 3.5em;
}

/* Sidebar Menus */

.sidebar ul.menu li a {
  background-color: #F7F7F7;
  border-left: 7px solid #006FBA;
  color: inherit;
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  margin: 0.25em 0;
  padding: 0.25em 1em;
}

.sidebar ul.menu li a.active {
  border-left: 7px solid #002D5B;
}

.sidebar ul.menu li a:hover,
.sidebar ul.menu li a:focus {
  background: transparent;
}

.sidebar ul.menu ul.menu {
  margin-top: 0;
}

@media only screen and (min-width: 500px) {

  ul#main-menu li,
  ul.sf-main-menu li.sf-depth-1 {
    -webkit-box-flex: 1 0 33%;
    -moz-box-flex:  1 0 33%;
    -webkit-flex:  1 0 33%;
    -ms-flex:  1 0 33%;
    flex: 1 0 33%;
    width: auto;
  }

}

@media only screen and (min-width: 600px) {

  #superfish-1-select {
    margin: 13px 0;
  }

}

@media only screen and (min-width: 770px) {

  ul#main-menu,
  ul.sf-menu {
    font-size: 1em;
    line-height: 3em;
  }

}

@media only screen and (min-width: 1080px) {

  ul#main-menu li,
  ul.sf-main-menu li.sf-depth-1 {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex:  1 0 auto;
  -webkit-flex:  1 0 auto;
  -ms-flex:  1 0 auto;
  flex: 1 0 auto;
  }

  ul.sf-menu a.sf-depth-2:link,
  ul.sf-menu a.sf-depth-2:visited {
    color: #333335;
    padding: 0.5em 0;
  }

}
