/**
 * @file
 * Primary page styling.
 */

/* Highlighted */

#highlighted {
  background-color: #FFFF50;
  border-bottom: 7px solid #006fba;
  padding: 0.5em 1em;
}

#highlighted .region-highlighted {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
}

/* Breadcrumb */

#breadcrumb {
  font-size: 0.8em;
  overflow: hidden;
}

.breadcrumb a {
  border-bottom: 1px solid transparent;
  color: #222;
  display: inline-block;
}

.breadcrumb a:hover,
.breadcrumb a.focus {
  border-bottom: 1px solid #222;
}

/* Sidebars */

.sidebar .region {
  padding: 1em;
}

/** Fix for search page **/

#google-cse-results > iframe {
  max-height: 1200px;
}

@media only screen and (min-width: 770px) {

  .breadcrumb a {
    background: #ababab;
    border-bottom: none;
    color: #212121;
    display: block;
    float: left;
    padding: 10px 0 10px 50px;
    position: relative;
  }

  .breadcrumb a:before {
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    border-top: 50px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin-left: 3px;
    margin-top: -50px;
    position: absolute;
      left: 100%;
      top: 50%;
    width: 0;
    z-index: 1;
  }

  .breadcrumb a:after {
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ababab;
    border-top: 50px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin-top: -50px;
    position: absolute;
      left: 100%;
      top: 50%;
    width: 0;
    z-index: 2;
  }

  .breadcrumb a:first-child {
    padding-left: 10px;
  }

  .breadcrumb a:nth-child(2) {
    background-color: #c5c5c5;
  }

  .breadcrumb a:nth-child(2):after {
    border-left: 30px solid #c5c5c5;
  }

  .breadcrumb a:nth-child(3) {
    background-color: #dedede;
  }

  .breadcrumb a:nth-child(3):after {
    border-left: 30px solid #dedede;
  }

  .breadcrumb a:nth-child(4) {
    background-color: #f8f8f8;
  }

  .breadcrumb a:nth-child(4):after {
    border-left: 30px solid #f8f8f8;
  }

  .breadcrumb a:hover,
  .breadcrumb a:focus {
    background: #fff;
    border-bottom: none;
  }

  .breadcrumb a:hover:after,
  .breadcrumb a:focus:after {
    border-left: 30px solid #fff;
  }

}
