/**
 * @file
 * View styling.
 */

 /** Styling for views **/

/**
 * Overrides for Views Grid display.
 *
 * Based on a hack by Jen Simmons to render views grids as unordered lists and modified for use with flexbox.
 * See https://gist.github.com/2295479 and ../templates/views-view-grid.tpl.php
 *
 */

ul.views-view-grid {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  list-style-image: none;
  margin: 0;
}

ul.views-view-grid li {
  -webkit-box-flex: 0 1 100%;
  -moz-box-flex:  0 1 100%;
  -webkit-flex:  0 1 100%;
  -ms-flex:  0 1 100%;
  flex: 0 1 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

ul.views-view-grid li .grid-item-wrapper {
  margin: 0 0 0.625em 0;
  position: relative;
}

ul.views-view-grid li img{
  display: block;
}

/* Date fix for month calendar views. */
.calendar-calendar div.day {
  width: 2em;
}

/* Padding for end of view row */
.group-list .view-content .views-row-last {
  padding-bottom: 1.625em;
}

@media only screen and (min-width: 768px) {
  /* Overrides for Views Grid display. */

  ul.views-view-grid {
    margin: 0 -0.3125em;
  }

  ul.views-view-grid li .grid-item-wrapper {
    margin: 0 0.3125em 0.625em 0.3125em;
  }

  .view ul.cols-2 li {
    -webkit-box-flex: 0 1 50%;
    -moz-box-flex:  0 1 50%;
    -webkit-flex:  0 1 50%;
    -ms-flex:  0 1 50%;
    flex: 0 1 50%;
  }
  .view ul.cols-3 li {
    -webkit-box-flex: 0 1 33.3333%;
    -moz-box-flex:  0 1 33.3333%;
    -webkit-flex:  0 1 33.3333%;
    -ms-flex:  0 1 33.3333%;
    flex: 0 1 33.3333%;
  }
  .view ul.cols-4 li {
    -webkit-box-flex: 0 1 25%;
    -moz-box-flex:  0 1 25%;
    -webkit-flex:  0 1 25%;
    -ms-flex:  0 1 25%;
    flex: 0 1 25%;
  }
  .view ul.cols-5 li {
    -webkit-box-flex: 0 1 20%;
    -moz-box-flex:  0 1 20%;
    -webkit-flex:  0 1 20%;
    -ms-flex:  0 1 20%;
    flex: 0 1 20%;
  }
  .view ul.cols-6 li {
    -webkit-box-flex: 0 1 16.6666%;
    -moz-box-flex:  0 1 16.6666%;
    -webkit-flex:  0 1 16.6666%;
    -ms-flex:  0 1 16.6666%;
    flex: 0 1 16.6666%;
  }
  .view ul.cols-7 li {
    -webkit-box-flex: 0 1 14.2857%;
    -moz-box-flex:  0 1 14.2857%;
    -webkit-flex:  0 1 14.2857%;
    -ms-flex:  0 1 14.2857%;
    flex: 0 1 14.2857%;
  }
  .view ul.cols-8 li {
    -webkit-box-flex: 0 1 12.5%;
    -moz-box-flex:  0 1 12.5%;
    -webkit-flex:  0 1 12.5%;
    -ms-flex:  0 1 12.5%;
    flex: 0 1 12.5%;
  }
  .view ul.cols-9 li {
    -webkit-box-flex: 0 1 11.1111%;
    -moz-box-flex:  0 1 11.1111%;
    -webkit-flex:  0 1 11.1111%;
    -ms-flex:  0 1 11.1111%;
    flex: 0 1 11.1111%;
  }
  .view ul.cols-10 li {
    -webkit-box-flex: 0 1 10%;
    -moz-box-flex:  0 1 10%;
    -webkit-flex:  0 1 10%;
    -ms-flex:  0 1 10%;
    flex: 0 1 10%;
  }

}
